body {
    margin: 0;
}



h1, h2, h3, h4, h5, h6, p, span {
    text-transform: none;
    color: #161616;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}


.block, .block_reverse {
    display: flex;
    flex-basis: 0;
    padding: 1% 2%;
}
.block {
    flex-direction: row;
}
.block_reverse {
    flex-direction: row-reverse;
    background-color: #f4f4f4;
}
/* mobile
.block, .block_reverse {
    flex-direction: column;
} 
.block div, .block_reverse div {
    flex-grow: 1;
} */



.block div, .block_reverse div {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
}
