body {
    margin: 0;
    font-family: San Francisco, system-ui;
}



h1, h2, h3, h4, h5, h6, p, span, a, li, table, div {
    text-transform: none;
    color: rgb(33, 33, 33);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
p, span {
    text-align: justify;
}



a {
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    opacity: .67;
}
a .link_img {
    display: none;
    content: url(/ui2024/style/icon/link.png);
}
a:hover .link_img {
    display: inherit;
}

span a, p a{
    font-weight: normal;
    text-decoration: underline;
    color: #00a0e8;
}
li a {
    font-weight: normal;
    color: #00a0e8;
}



.block, .block_left, .block_right {
    display: flex;
    flex-basis: 0;
    padding: 1% 3% 0% 3%;
}
.block_left {
    flex-direction: row;
    padding: 2% 3%;
}
.block_right {
    flex-direction: row-reverse;
    background-color: rgb(233, 233, 233);
    padding: 2% 3%;
}
/* mobile
.block_left, .block_right {
    flex-direction: column;
} 
.block_left div, .block_right div {
    flex-grow: 1;
} */



.block_left div, .block_right div {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
}



.citation {
    background-color: lightgray;
    margin: 13px 0;
    padding: 13px;
    border-radius: 7px;
}