body {
    margin: 0;
    font-family: San Francisco, system-ui;
}



h1, h2, h3, h4, h5, h6, p, span, a, li, table, div {
    text-transform: none;
    color: rgb(33, 33, 33);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
p, span, li {
    text-align: justify;
}
br {
    user-select: none;
}



a {
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    opacity: .67;
}
a .link_img {
    display: none;
    content: url(/ui2024/style/icon/link.png);
}
a:hover .link_img {
    display: inline;
    height: 20px;
}

span a, p a, li a{
    font-weight: normal;
    color: #00a0e8;
}



.block, .block_left, .block_right, .block_footer, .block_header {
    display: flex;
    flex-basis: 0;
    padding: 2% 3% 0% 3%;
}
.block_left {
    flex-direction: row;
    padding: 2% 3%;
}
.block_right {
    flex-direction: row-reverse;
    background-color: rgb(233, 233, 233);
    padding: 2% 3%;
}
/* mobile
.block_left, .block_right {
    flex-direction: column;
} 
.block_left div, .block_right div {
    flex-grow: 1;
} */



.block_left div, .block_right div {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
}



.navigator {
    border-bottom: 3px solid rgb(233, 233, 233);
    flex-grow: 1;
}
.navigator a {
    margin-right: 2%;
}



.citation {
    background-color: lightgray;
    margin: 13px 0;
    padding: 17px;
    border-radius: 7px;
}
.citation br {
    user-select: text;
}



.block_left div .person_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    gap: 33px;
}
.block_left div .person_container div img {
    width: 100%;
}
.block_left div .person_container div h4, .person_container div span {
    margin-bottom: 7px;
    text-align: left;
}
.block_left div .person_container div div {
    border-bottom: 3px solid rgb(233, 233, 233);
}