.timeline {
    width: 700px;
}

.timeline > :before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 300px;
    width: 3px;
    border-radius: 3px;
    background-color: rgb(33, 33, 33);
}
.timeline > .entries {
    position: relative;
}

.timeline > .entries > .entry {
    margin-right: 720px;
    text-align: right;
    .title {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            background-color: rgb(33, 33, 33);
            border-radius: 100%;
            right: -66px;
        }
    }
    h3 {
        margin: 3px 0;
    }
    span {
        text-align: right;
        margin-bottom: 7px;
        code {
            font-weight: normal;
            font-size: small;
            background-color: white;
        }
    }
    &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(7) {
        margin-right: 0%;
        margin-left: 42%;
        text-align: left;
        float: right;
        .title {
            &:before {
                left: -13.6%;
            }
        }
        .content {
            text-align: left;
        }
    }
}
