.timeline > :before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 30%;
    width: 3px;
    border-radius: 3px;
    background-color: rgb(33, 33, 33);
}
.timeline > .entries {
    position: relative;
}

.timeline > .entries > .entry {
    width: calc(30% - 80px);
    text-align: right;
    .title {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            background-color: rgb(33, 33, 33);
            border-radius: 100%;
            right: -90px;
        }
    }
    .content {
        text-align: right;
    }
    &:nth-child(2n) {
        margin-left: 55%;
        text-align: left;
        float: right;
        .title {
            &:before {
                left: -203px;
            }
        }
        .content {
            text-align: left;
        }
    }
}
