<link href="/ui2024/css/footer.css" rel="stylesheet" type="text/css" media="all">



<div class="footer">
    <div class="block_footer">



        <br><br>



        <div class="footer_first_row">
            <a href="/">
                <img src="/assets/icon/star_league_white.png"/>
            </a>
            <div class="footer_align_right">
            </div>
        </div>



        <br><br>



        <div class="footer_second_row">
            <div class="logos">
                <a href="mailto:contact@starleague.ai"> 
                    <img src="/assets/icon/email_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/email.png" class="footer_logo_color"/>
                    <h4 class="Owhite">&nbsp;&nbsp;contact@starleague.ai</h4>
                </a>
            </div>
        </div>



        <br><br>
        <div class="footer_navigator"></div>
        <br>



        <div class="footer_third_row">
            <span class="gray">© 2023 - 2024 All Rights Reserved</span>
        </div>



        <br><br>
        


    </div>
</div>
