<link href="/ui2024/style/css/header.css" rel="stylesheet" type="text/css" media="all"/>


<meta name="viewpoint" content="width=device-width, initial-scale=1.0">

<script>
    const as_transparent = () => {
        header.classList.remove("nav_scoll");
        header_logo.src = "/ui2024/style/icon/star_league_white.png";
        nav_button.src = "/ui2024/style/icon/nav_white.png";
    }
    const as_white = () => {
        header.classList.add("nav_scoll");
        header_logo.src = "/ui2024/style/icon/star_league.png";
        nav_button.src = "/ui2024/style/icon/nav.png";
    }
</script>



<script>
    window.addEventListener("scroll", function () {
        if (window.scrollY > 0) {
            as_white();
        } else {
            if (header_right.style.display != "flex") {
                as_transparent();
            }
        }
    });
</script>



<script>
    const show = () => {
        if (header_right.style.display === "none" || !header_right.style.display) {
            header_right.style.display = "flex";
            as_white();
        } else {
            header_right.style.display = "none";
            if (window.scrollY === 0) {
                as_transparent();
            }
        }
    };
</script>



<script>
    const drop = () => {
        if (window.innerWidth <= 1024) {
            if (event.currentTarget.children[1].style.display === "none") {
                event.currentTarget.children[1].style.display = "block";
            } else {
                event.currentTarget.children[1].style.display = "none";
            }
        }
    }
</script>



<div class="header" id="header">
    <div class="block_header">

        <div class="header_left">
            <a href="/">
                <img id="header_logo" src="/ui2024/style/icon/star_league_white.png" />
            </a>
        </div>

        <div class="header_right" id="header_right">
            <ul>

                <li class="nav1" onclick="drop()">
                    <a>drop</a>
                    <ul class="nav2">
                        <li><a href="#" target="_blank">box11111</a></li>
                        <li><a href="#" target="_blank">box2</a></li>
                        <li><a href="#" target="_blank">box3</a></li>
                        <li><a href="#" target="_blank">box4</a></li>
                    </ul>
                </li>

                <li><a href="https://github.com/sponsors/OpenDriveLab" target="_blank">🤍 Sponsor</a></li>

                <li><a href="https://opendrivelab.com" target="_blank">openDriveLab</a></li>

                <li><a href="#" target="_blank">内容1</a></li>

                <li class="nav1" onclick="drop()">
                    <a>drop</a>
                    <ul class="nav2">
                        <li><a href="#" target="_blank">box11111</a></li>
                        <li><a href="#" target="_blank">box2</a></li>
                        <li><a href="#" target="_blank">box3</a></li>
                        <li><a href="#" target="_blank">box4</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        <div class="nav_button" onclick="show()">
            <img id="nav_button" src="/ui2024/style/icon/nav_white.png" />
        </div>
        
    </div>
</div>
